{% extends 'mgmt.html.twig' %}

{% block title %}Veranstaltungen{% endblock %}

{% block body %}
    <h1>Veranstaltungen</h1>
    <div class="text-end mb-3"><a class="btn btn-outline-success btn-sm" href="{{ path('app_event_session_new') }}">Erstellen</a></div>
    <div class="list-group">
    {% for event_session in event_sessions %}
        <div
           class="list-group-item list-group-item-action"
        >
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ event_session.title }}</h5>
                <small>
                    {% set maxPoints = 0 %}
                    {% for q in event_session.quizzes %}
                    {% set maxPoints = max(q.points, maxPoints) %}
                    {% endfor %}
                    <span class="badge rounded-pill bg-primary">{{ event_session.quizzes.count }} Quizze</span>
                    <span class="badge rounded-pill bg-info">Highscore: {{ maxPoints }}</span>
                    <a href="{{ path('app_event_session_active', {'id': event_session.id}) }}">
                    {% if event_session.isActive %}
                    <span class="badge rounded-pill bg-success">
                        <i class="bi-eye-fill"></i>
                    </span>
                    {% else %}
                    <span class="badge rounded-pill bg-secondary">
                        <i class="bi-eye-slash-fill"></i>
                    </span>
                    {% endif %}
                    </a>
                </small>
            </div>
            <p class="mb-1">{{ event_session.decription }}</p>
            <small>Datum: {{ event_session.eventDate|date("d.m.Y H:i") }} Uhr</small>
            <p class="mt-1 mb-1">
                <a href="{{ path('app_event_session_edit', {'id': event_session.id}) }}" class="btn btn-sm btn-outline-warning">Bearbeiten</a>

            </p>
        </div>
    {% else %}
        <div class="list-group-item list-group-item-action bg-light">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-danger">Noch keine EventSession angelegt</h5>

            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
