{% extends 'base.html.twig' %}

{% block title %}
    Starten Sie Ihr Quiz
{% endblock %}

{% block body %}
    {% if not eventSession %}
        <div class="col-lg-8 mx-auto p-3 py-md-5">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Keine EventSession!</h4>
                <p class="mb-0"><a href="{{ path('app_management') }}">App Management</a></p>
            </div>
        </div>

    {% endif %}
    <header class="text-center">
        <h1 class="start mb-5">
            {{ app.request.server.get('APP_TITLE') }}
            <span class="text-muted">Teste dein IT-Wissen</span>
        </h1>
    </header>
    <main>
        {% if eventSession %}
            <div class="container mt-5">
                <div class="row mb-5">
                    <div class="col mx-auto text-center">
                        <a href="{{ path('app_quiz', {'id': eventSession.id}) }}" class="press-start">$ ./start.sh</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto mx-auto text-center">
                        <div class="alert alert-secondary mt-5">
                            <h4 class="alert-heading">
                                <i class="bi-geo"></i>
                                {{ eventSession.title }}
                            </h4>
                            <p class="small">
                                {{ eventSession.decription }}
                            </p>
                            <p class="mb-0">
                                <i class="bi-calendar2-event"></i>
                                {{ eventSession.eventDate|format_date(pattern=('d. MMMM YYYY'), locale='de') }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}

