{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-auto mx-auto mb-auto">
                <div class="topic ">
                    <div class="alert alert-dark">
                        Thema: {{ question.topic }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="question">
                    {{ question.title }}
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="d-grid gap-4 col-8 mx-auto">

            {% for answer in question.answers %}
                <button class="btn btn-lg btn-warning">{{ answer.title }}</button>
            {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}

{% block title %}
Los geht's
{% endblock %}

{% block footer %}
<div id="qrcode">
    <img src="{{ path('qr_svg', {'slug': quiz.slug}) }}" alt="{{ quiz.slug }}" />
</div>
{% endblock %}