{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h2>
                    <a href="{{ path('app_default') }}" class="text-white text-decoration-none">{{ app.request.server.get('APP_TITLE') }}</a>
                </h2>
            </div>
            <div class="col-auto mx-auto mb-auto">
                <div class="topic ">
                    <div class="alert alert-dark small">
                        <h5 class="alert-heading">Punkte: {{ quiz.points }}</h5>
                        <p class="mb-0">Thema: {{ question.topic }}</p>
                        <p class="mb-0">Schwierigkeit: {{ question.difficulty }}</p>
                        <p class="mb-0">Last: {{ quiz.lastStart|date("H:i:s") }}</p>
                        <p class="mb-0">Used: {{ used }}</p>
                        <p class="mb-0">TimeFactor: {{ tf }}</p>
                        <p class="mb-0">Step: {{ quiz.step }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="question">
                    {{ question.title }}
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="d-grid gap-4 col-8 mx-auto">
                {% if answer.isCorrect %}
                    <div class="alert alert-success text-center">
                        <h5 class="alert-heading mb-0">Gut gemacht!</h5>
                    </div>
                {% else %}
                    <div class="alert alert-danger text-center">
                        <h5 class="alert-heading mb-0">Das ist leider nicht richtig!</h5>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="d-grid gap-4 col-8 mx-auto">
                <a href="{{ path('quiz_play', {'slug': quiz.slug}) }}" class="btn btn-lg btn-primary">Weiter geht's</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Los geht's
{% endblock %}

{% block footer %}
    <div id="qrcode">
        <img src="{{ path('qr_svg', {'slug': quiz.slug}) }}" alt="{{ quiz.slug }}" />
    </div>
{% endblock %}