<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Nerd oder Niete?! - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <main>
        <div class="container mt-3">
            <div class="row">
                <div class="col">
                    <div class="card mb-3">
                        <div class="card-body">
                            <ul class="nav">
                                <li class="nav-item">
                                    <h3>IT-Quiz</h3>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_default') }}">Start</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_management') }}">Management</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_event_session_index') }}">Veranstaltungen</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_question_index') }}">Fragen</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_topic_index') }}">Themen</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col mt-2 mb-5">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </main>
        <footer>
            <a href="https://www.pxlwrk.de">
                <img src="{{ asset('build/images/patch.svg') }}" style="width:150px;height:50px">
            </a>
        </footer>
    <div
            id="toast-container"
            class="toast-container position-fixed top-0 end-0 p-3"
    >
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {{ include('_toast.html.twig', {
                    label: label,
                    message: message
                }) }}
            {% endfor %}
        {% endfor %}
    </div>
    </body>
</html>
